.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero_section{
    background-image: url('./Assests/hero_bg2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.login_page{
    background-image: url('./Assests/Login_bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.signup_page{
    background-image: url('./Assests/signup_img.jpg');
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.event_hero_section{
  background-image: url('./Assests/hero_img.jpg');
  background-size: cover;
  background-position: center;
}
.team_hero_section{
  background-image: url('./Assests/team_hero_img.png');
  background-size: cover;
  background-position: center;
}
.black_bg{
  background-image: url('./Assests/black_border.jpg');
  background-size: cover;
  background-position: center;
}

.sponsors img{
  height: 200px;
  width: 200px;
}

.speaker{
  height: 200px;
  width: 200px;
}